<h1>Fiche Métier :</h1>
<p>
	{{ metier.libelle }}
</p>
<h2>Profils associés</h2>
<ul>
	{% for p in metier.profils %}
		<li>
			<a href="{{ path('profil_show', {'id' : p.id} ) }}">
				{{ p.fullname }}
			</a>
		</li>
	{% endfor %}
</ul>
